<form id="package-edit" method="post"
  py:attrs="{'class':'has-errors package_create_form ckan'} if errors else {'class':'package_create_form ckan'}"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  role="form"
  data-module="basic-form resource-form"
  enctype="multipart/form-data"
>

<xi:include href="../_dgu_util.html" />

<!-- recursive function turns errors into hierarchical lists -->
<py:def function="dump(o)">
  <ul py:if="type(o) is dict and bool(o)">
    <li py:for="k,v in h.iterate_error_dict(o)">
      <py:if test="type(v) in [str, unicode]">
        <b>${k}:</b> ${v}
      </py:if>
      <py:if test="not (type(v) in [str, unicode])">
        <b>${k}: </b> ${dump(v)}
      </py:if>
    </li>
  </ul>
  <ul py:if="type(o) is list and bool(o)">
    <py:for each="v in o">
      ${dump(v)}
    </py:for>
  </ul>
  <li py:if="(type(o) is str or type(o) is unicode) and bool(o)">
    ${o}
  </li>
</py:def>


  <div class="panel panel-danger error-explanation" py:if="bool(errors)">
    <div class="panel-heading"><strong>Errors in form</strong></div>
    <div class="panel-body">The form contains invalid entries:
      ${dump(errors)}</div>
  </div>

<div id="form-tabs" class="tabbable tabs-left">
  <div class="row">
    <div class="col-lg-3 col-sm-4" id="dataset-edit-tabs-ul">
      <ul class="nav nav-pills nav-stacked" py:with="
          boilerplate={'disabled':'disabled'} if h.use_wizard(data, errors) else {};
          classes = 'disabled' if h.use_wizard(data, errors) else '';
        ">
        <li class="active"><a data-toggle="tab" data-hash="tab-name" id="section-name" href="#section-name-fields">Name</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-data" id="section-data" py:attrs="boilerplate" href="#section-data-field">Data Files</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-description" id="section-description" py:attrs="boilerplate" href="#section-description-field">Description</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-licence" id="section-licence" py:attrs="boilerplate" href="#section-licence-field">Licence</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-publisher" id="section-publisher" py:attrs="boilerplate" href="#section-publisher-field">Publisher</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-themes" id="section-themes" py:attrs="boilerplate" href="#section-themes-field">Tags</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-additional_resources" id="section-additional_resources" py:attrs="boilerplate" href="#section-additional_resources-field">Additional resources</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-temporal" id="section-temporal" py:attrs="boilerplate" href="#section-temporal-field">Temporal coverage</a></li>
        <li py:if="h.is_sysadmin()"><a data-toggle="tab" class="${classes}" data-hash="tab-state" id="section-state" py:attrs="boilerplate" href="#section-state-field">State</a></li>
      </ul>
    </div>
    <div class="col-lg-9 col-sm-8" id="dataset-edit-workarea">

  <div class="tab-content">
<fieldset class="tab-pane boxed whitebox fade active in" id="section-name-fields">
  <p>Please name your data record.</p>
  <div class="form-group">
    <label for="title" class="js-tooltip tooltip-paragraph" data-placement="right" title="Briefely describes the main subject and purpose of the dataset.">Name<i class="icon-info-sign"></i>
    </label>
    <input class="form-control field_req js-title input-xlarge" id="title" name="title" type="text" value="${data.get('title', '')}"/>
  </div>
  <py:if test="errors.get('title', '')">
    <div class="alert alert-danger">${errors.get('title', '')}</div>
  </py:if>

  <input id="extras__100__key" name="extras__100__key" type="hidden" value="unpublished" />
  <input id="extras__100__value" name="extras__100__value" type="hidden" value="false" />
  <py:if test="c.pkg">
    <input id="extras__101__key" name="extras__101__key" type="hidden" value="core-dataset" />
    <input id="extras__101__value" name="extras__101__value" type="hidden" value="${c.pkg.extras.get('core-dataset',False)}" />
  </py:if>

  <div class="form-group">
    <label for="name">
      <span class="js-tooltip" data-placement="right" title="A public unique identifier for the dataset.  It should be roughly readable, with dashes separating words.  Format: Two or more lowercase alphanumeric, dash (-) or underscore (_) characters. e.g. uk-road-traffic-statistics-2008 or local-authority-spend-over-500-harlow">Create a URL:<i class="icon-info-sign"></i>
      </span>
      &nbsp;&nbsp;<span style="font-style: italic;" py:if="not h.is_package_edit_form(data) or h.is_sysadmin()" class="js-url-is-valid">&nbsp;</span>
    </label>
    <div class="input-group">
      <span class="input-group-addon">${"/dataset/"}</span><input py:attrs="{'readonly':'readonly'} if (h.is_package_edit_form(data) and not h.is_sysadmin()) else {}" class="field_req js-url-input form-control" id="name" maxlength="100" name="name" type="text" value="${data.get('name', '')}"/>
    </div>
  </div>
  <py:if test="errors.get('name', '')">
    <div class="alert alert-danger">${errors.get('name', '')}</div>
  </py:if>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-data-field">
  <h3>Data Files</h3>
  <p>In this tab you enter the links to the files containing the actual data at the heart of this record.</p>

  <p>Your record may be creating a single file record (a record which points to just one file) or you may be creating a timeseries record (where multiple files are released over time. If the data relates to a period of time, choose "A timeseries record", otherwise choose "A single file record".<br/>
  If your data comes in multiple formats, use a line for each.</p>
  <p><strong>NB: Do not put links to web pages here.</strong> These and other useful documents that are not actually the data should go in the 'Additional Resources' section.</p>
  <hr/>
  <p>This record is:</p>

  <div class="radio">
    <label>
      <input py:attrs="{'checked': 'checked' if not h.are_timeseries_resources(data) else None}" id="package_type-individual-radio" type="radio" name="package_type" value="individual"/>A single file record</label>
  </div>
  <div class="radio">
    <label>
      <input py:attrs="{'checked': 'checked' if h.are_timeseries_resources(data) else None}" id="package_type-timeseries-radio" type="radio" name="package_type" value="timeseries"/>A timeseries record</label>
  </div>

    <!-- The resource fieldset for a timeseries dataset -->
    <fieldset id="package_type-timeseries">
      <div class="well form-inline">
        <label for="update_frequency" class="js-tooltip" title="How frequently new data files are published.  For one-off data, use 'never'. For those once updated but now discontinued, use 'discontinued'.">
          Update frequency <i class="icon-info-sign"></i>
        </label>
        <select style="width: 200px;" class="form-control" id="update_frequency" name="update_frequency">
            <py:for each="freq_name, freq_desc in c.update_frequency">
              <option value="${freq_name}" py:attrs="{'selected': 'selected' if data.get('update_frequency', '') == freq_name else None}" >
                ${_(freq_desc)}
              </option>
            </py:for>
        </select>
        <label style="margin-left: 20px;" class="" for="update_frequency-other" title="Fill in if update frequency doesn't fit under choices provided.">Other:</label>
        <input class="form-control" style="width: 200px;" id="update_frequency-other" name="update_frequency-other" type="text" value="${data.get('update_frequency-other', '')}"/>
        <span style="font-size:0.75em;color:#8C8C8C;">(fill in if you chose to specify 'other' frequency)</span>
      </div><!-- /well -->
      <py:if test="errors.get('update_frequency')">
        <div class="alert alert-danger">${errors.get('update_frequency', '')}</div>
      </py:if>

      <table class="flexitable table table-bordered table-condensed table-striped" id="timeseries_resources-table">
      <thead>
        <tr>
          <th class="resource-move-cell"></th>
          <th class="resource-date">  <div class="js-tooltip" title="Start date for time series. If not sure, use the current date. Format: DD/MM/YYYY">Date: <i class="icon-info-sign"></i></div></th>
          <th class="resource-name">  <div class="js-tooltip" title="Text that is displayed next to the link on the dataset record">File Title: <i class="icon-info-sign"></i></div></th>
          <th class="resource-url">   <div class="js-tooltip" title="Where the file is already hosted">URL: <i class="icon-info-sign"></i></div></th>
          <th class="resource-format"><div class="js-tooltip" title="The file format of the linked resource. Format choices: CSV | RDF | XML | XBRL | SDMX | HTML+RDFa | Other as appropriate.">Format: <i class="icon-info-sign"></i></div></th>
        </tr>
      </thead>
      <tbody>
        <py:for each="num, res in enumerate(data.get('timeseries_resources', []) + [{}])">
        <tr class="timeseries_resources__${num} resource">
          <td class="resource-move-cell">
            <div class="btn-group">
              <button class="btn btn-xs btn-default resource-move resource-move-up"><i class="icon-arrow-up"></i></button>
              <button class="btn btn-xs btn-default resource-move resource-move-down"><i class="icon-arrow-down"></i></button>
            </div>
            <div class="hidden-resource-fields">
              <!--! Because the resource fields are explicitly set in c.resource_columns, we need
                    to pull the others from the resource keys, strip the resource_columns and then
                    ignore resource_type, id and resource_group_id.

                    Code is long hand to keep the list comp understandable -->
              <py:for each="col in h.timeseries_extra_fields(res)">
                <input
                       id="timeseries_resources__${num}__${col}"
                       name="timeseries_resources__${num}__${col}"
                       type="hidden"
                       value="${res.get(col, '')}"/>
              </py:for>
              <span class="resource-id"><input name="timeseries_resources__${num}__id" type="hidden" value="${res.get('id', '')}" /></span>
              <span class="resource-type"><input name="timeseries_resources__${num}__resource_type" type="hidden" value="${res.get('resource_type', '')}" /></span>
            </div>
          </td>
          <py:for each="col in ('date',) + c.resource_columns">
            <td class="resource-${col}">
              <py:choose test="">
                <py:when test="col=='description'">
                  <input id="timeseries_resources__${num}__${col}"
                         name="timeseries_resources__${num}__${col}"
                         type="text"
                         value="${res.get(col, '')}"
                         class="form-control ${'field_error' if h.cell_has_errors(errors,'timeseries_resources', num, col) else ''}" />
                </py:when>
                <py:when test="col=='url'">
                  <span class="input-group ${'error' if h.cell_has_errors(errors,'timeseries_resources', num, col)  else ''}">
                    <input id="timeseries_resources__${num}__${col}"
                           name="timeseries_resources__${num}__${col}"
                           type="text"
                           value="${res.get(col, '')}"
                           class="form-control"/>
                    <span class="input-group-btn">
                      <button id="timeseries_resources__${num}__validate-resource-button" class="validate-resource-button btn btn-default">Check</button>
                    </span>
                  </span>
                </py:when>
                <py:when test="col=='date'">
                  <input
                       id="timeseries_resources__${num}__${col}"
                       name="timeseries_resources__${num}__${col}"
                       type="text"
                       value="${res.get(col, '')}"
                       class="form-control needs-datepicker ${'field_error' if h.cell_has_errors(errors,'timeseries_resources', num, col) else ''}"
                   />
                </py:when>
                <py:otherwise>
                  <input id="timeseries_resources__${num}__${col}"
                         name="timeseries_resources__${num}__${col}"
                         type="text"
                         value="${res.get(col, '')}"
                         class="form-control ${'field_error' if h.cell_has_errors(errors,'timeseries_resources', num, col) else ''}"
                   />
                </py:otherwise>
              </py:choose>
            </td>
          </py:for>
        </tr>
        </py:for>
      </tbody>
      </table>
      <a href="javascript:;" id="timeseries_resources-add" class="btn btn-primary pull-right add-button"><i class="icon-plus"></i> &nbsp;Add Row</a>

      <p class="field_error" py:if="errors.get('timeseries_resources', '')">Row(s) partially filled.</p>
      <button class="validate-resources-button btn btn-default" id="validate-timeseries-button">Check all URLs</button>
      <span class="checking-links-label" style="display: none;">Checking, please wait...</span><br/>
    </fieldset>


    <!-- The resource fieldset for an individual dataset -->
    <fieldset id="package_type-individual">

      <p><strong>NB! If the displayed link begins with the portal address, it is an uploaded file</strong> (see entry field below).</p>
      <table class="table table-bordered table-condensed table-striped" id="individual_resources-table">
      <thead>
        <tr>
          <th></th>
          <th class="resource-name"><div class="js-tooltip" title="Text that is displayed next to the link of the dataset record">File title: <i class="icon-info-sign"></i></div></th>
          <th class="resource-url"> <div class="js-tooltip" title="Where the file is already hosted">URL: <i class="icon-info-sign"></i></div></th>
          <th class="resource-url"> <div class="js-tooltip" title="Format choices for the dataset: CSV | RDF | XML | XBRL | SDMX | HTML+RDFa | Other as appropriate">Format: <i class="icon-info-sign"></i></div></th>
        </tr>
      </thead>
      <tbody>
        <py:for each="num, res in enumerate(data.get('individual_resources', []) + [{}])">
        <tr class="individual_resources__${num} resource">
          <td class="resource-move-cell">
            <div class="btn-group">
              <button class="btn btn-xs btn-default resource-move resource-move-up"><i class="icon-arrow-up"></i></button>
              <button class="btn btn-xs btn-default resource-move resource-move-down"><i class="icon-arrow-down"></i></button>
            </div>
            <div class="hidden-resource-fields">
              <!--! Because the resource fields are explicitly set in c.resource_columns, we need
                    to pull the others from the resource keys, strip the resource_columns and then
                    ignore resource_type, id and resource_group_id.

                    Code is long hand to keep the list comp understandable -->
              <py:for each="col in h.resource_extra_fields(res)">
                <input id="individual_resources__${num}__${col}" name="individual_resources__${num}__${col}" type="hidden" value="${res.get(col, '')}"/>
              </py:for>
              <span class="resource-id"><input name="individual_resources__${num}__id" type="hidden" value="${res.get('id', '')}"/></span>
              <span class="resource-type"><input name="individual_resources__${num}__resource_type" type="hidden" value="${res.get('resource_type', '')}"/></span>
            </div>
          </td>
          <py:for each="col in c.resource_columns">
            <td class="resource-${col}">
            <py:choose test="">
              <input py:when="col=='description'" id="individual_resources__${num}__${col}" name="individual_resources__${num}__${col}" type="text" value="${res.get(col, '')}" class="form-control ${'field_error' if h.cell_has_errors(errors,'individual_resources', num, col) else ''}"/>
              <span class="input-group ${'error' if h.cell_has_errors(errors,'individual_resources', num, col) else ''}" py:when="col=='url'">
                <input id="individual_resources__${num}__${col}" name="individual_resources__${num}__${col}" type="text" value="${res.get(col, '')}" class="form-control"/>
                <span class="input-group-btn">
                  <button id="individual_resources__${num}__validate-resource-button" class="validate-resource-button btn btn-default" style="font-weight:0.9em">Check</button>
                </span>
              </span>
              <input py:when="col=='format'" id="individual_resources__${num}__${col}" name="individual_resources__${num}__${col}" type="text" value="${res.get(col, '')}" data-provider="typeahead" data-items="8" class="form-control format-typeahead ${'field_error' if h.cell_has_errors(errors,'additional_resources', num, col) else ''}"/>
              <input py:otherwise="" id="individual_resources__${num}__${col}" name="individual_resources__${num}__${col}" type="text" value="${res.get(col, '')}" class="input-small ${'field_error' if h.cell_has_errors(errors,'individual_resources', num, col) else ''}"/>
            </py:choose>
            </td>
          </py:for>
        </tr>
        </py:for>
      </tbody>
      </table>
      <a href="javascript:;" id="individual_resources-add" class="btn btn-primary pull-right add-button"><i class="icon-plus"></i> &nbsp;Add Row</a>

      <p class="field_error" py:if="errors.get('individual_resources', '')">Row(s) partially filled.</p>
      <button class="btn-default validate-resources-button btn" id="validate-timeseries-button">Check all URLs</button>
      <span class="checking-links-label" style="display: none;">Checking, please wait...</span><br/>
    </fieldset>
    <hr/>

    <div id="file-upload-div">
        <p>
            <strong>Datasets can also be uploaded as files</strong>, using the following inputs.<br/>
            This can be done in addition to the links referred to above, but it is also possible to have uploaded files only.<br/>
            Since it is more expedient to serve large datasets from an information holder's link, the ceiling on the size of uploadable files is <strong>${config.get('ckan.max_resource_size', '10')} MB</strong>. You can upload only one file at a time.
            In order to upload additional files, you must return to this form via the operation of dataset change.<br/>
        </p>
        <table class="table table-bordered table-condensed table-striped" id="file-upload-table">
            <thead>
                <tr>
                    <th class="resource-name" style="width:30%"><div class="js-tooltip" title="" data-original-title="${_('The text that is displayed next to the link of the dataset record')}">File title: <i class="icon-info-sign"></i></div></th>
                    <th class="resource-url" style="width:50%"><div class="js-tooltip" title="" data-original-title="${_('The text that is displayed next to the link of the dataset record')}">Description: <i class="icon-info-sign"></i></div></th>
                    <th class="resource-name" style="width:20%"><div class="js-tooltip" title="" data-original-title="${_('File format')}">File format: <i class="icon-info-sign"></i></div></th>
                </tr>
            </thead>
            <tbody>
                <tr class="individual_resources__0 resource" style="background-color:#f9f9f9">
                    <td class="resource-description"><input type="text" name="file_name" value="" class="form-control"/></td>
                    <td class="resource-description"><input type="text" name="file_descr" value="" class="form-control"/></td>
                    <td class="resource-format "><input type="text" name="file_format" value="" class="form-control format-typeahead" data-provider="typeahead" data-items="8"/></td>
                </tr>
                <tr class="individual_resources__1 resource">
                    <td colspan="3"><label for="file-upload-input">Upload file:</label>&nbsp;<input id="file-upload-input" type="file" name="file_uploaded" value="" style="display:inline"/></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr/>

    <p><strong>Format:</strong> This should give the file format in which the data is supplied. Format choices:<br/>
    CSV | RDF | XML | XBRL | SDMX | HTML+RDFa | Other as appropriate
    </p>

</fieldset>


<fieldset class="tab-pane boxed whitebox fade" id="section-description-field">
  <h3>Description</h3>
  <p class="instructions basic">Please add a description of the data set.  What does the data contain/show?  Why was it produced?</p>
  <p class="instructions further instruction-needed">(It is often displayed with the package title. In particular, it should start with a short sentence that describes the data set succinctly, because the first few words alone may be used in some views of the data sets. Here is the place to state if there are any limitations or deficiencies to the data in order to enable users to evaluate the information; even incomplete data may be adequate for some users).</p>
  <textarea class="form-control field_req" cols="260" id="notes" name="notes" rows="10">${data.get('notes', '')}</textarea>
  <p class="field_error" py:if="errors.get('notes', '')">${errors.get('notes', '')}</p>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade form-inline" id="section-licence-field">
  <h3>Licence</h3>
    <div class="form-group">
    <label for="license_id">Licence:</label>
    <select id="license_id" class="form-control" name="license_id">

      <!--! An explanation of what's going on here...
           There are a few cases to handle here:

            1. An new/edit form with a license_id:  the options available to the
               user are an OGL license; a free-text non-OGL license; and the
               dataset's current license (edit form only).

            2. An edit form with a license in the extra fields: this is a
               harvested dataset.

            * license_extra implies an edition form with a license in the
              extra fields.  ie - a harvested license.
     -->
      <py:for each="license_id, license_desc in h.license_choices(data)">
        <option value="${license_id}" py:attrs="{'selected': 'selected' if data.get('license_id', 'uk-ogl') == license_id else None}">${license_desc}</option>
      </py:for>

      <option py:if="h.get_license_extra(c.pkg)" value="__extra__" selected="selected">Harvested license...</option>
      <option py:if="not h.get_license_extra(c.pkg)" value="" py:attrs="{'selected': 'selected' if (data.get('license_id', 'uk-ogl') not in h.get_ckan_licenses()) else None}">Specify other...</option>
    </select>
  </div>
  <p class="instructions basic">The licence under which the dataset is released.</p>
  <p class="instructions further">
    Open datasets must be published under a licence which permits their free and unlimited use, processing and distribution.<br/>
    Under the licence, it must be possible to distribute the dataset at the discretion of the user either without charge or for a fee.<br/>
    If the appropriate licence is not included in the menu above, please select 'other' and fill out the corresponding field.
  </p>

    <div class="form-group choose-other-licence">
      <label for="license_extra">Licence (other):</label>
      <textarea class="form-control" py:if="not h.get_license_extra(c.pkg)" rows="1" cols="60" id="access_constraints" name="access_constraints">${data.get('access_constraints', '') if data.get('access_constraints', '') else (data.get('license_id', 'uk-ogl') if (data.get('license_id', 'uk-ogl') not in h.get_ckan_licenses()) else '')}</textarea>
      <textarea class="form-control" py:if="h.get_license_extra(c.pkg)" rows="1" cols="60" id="access_constraints" name="license_extra" disabled="disabled">${h.get_license_extra(c.pkg)}</textarea>
      <input class="form-control" py:if="h.get_license_extra(c.pkg)" rows="10" cols="60" id="actual_access_constraints" name="access_constraints" type="hidden" value="${c.pkg.extras.get('access_constraints','')}"/>
    </div>
    <p py:if="errors.get('license_id')" class="field_error" style="display: block;">${errors.get('license_id','')}</p>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-publisher-field">
  <h3>Publisher</h3>
    <div class="form-group">
      <label for="owner_org">Published by: </label>
      <!--! data['owner_org'] is a group.id. Either it is the existing value in the database, or the value from this form that was submitted invalid, or from the owner_org={id} URL parameter. -->
      <select class="form-control" id="owner_org" name="owner_org" py:with="owner_org=data.get('owner_org')">
        <option value=" " py:attrs="{'selected': 'selected' if not owner_org else None}" >Please select a publisher...</option> <!--! NB Value is " " to ensure that validation fails if this is selected, due to it checking 'name' is not_empty. In addition, in logic/auth/create.py this particular value is authorized, so when you submit the form with this value, rather that say 'not authorized', it carries on to validation where it fails and shows the user a better error. -->
        <py:for each="publisher_name, publisher in sorted(c.publishers.items())">
          <option value="${publisher.id}" py:attrs="{'selected': 'selected' if owner_org == publisher.id else None}" >
            ${publisher['title']}
          </option>
        </py:for>
      </select>
    </div>
    <p class="field_error" py:if="errors.get('owner_org', '')">Valige teabevaldaja.</p>
    <hr/>
  <h3>Contact details</h3>
    <p>Here are the contact details that will be displayed for this dataset.  The default Contact information is taken from the selected publisher, but you may edit it for this dataset.</p>
    <py:with vars="group=h.edit_publisher_group(data)">
      <fieldset id="publisher-information-field" class="well">
        <h3>Publisher Contact Details</h3>
        <p><b>Name:</b> <span id="contact-name-label">${data.get('contact-name', '')}</span></p>
        <p><b>Email:</b><span id="contact-email-label">${data.get('contact-email', '')}</span></p>
        <p><b>Phone:</b><span id="contact-phone-label">${data.get('contact-phone', '')}</span></p>

        <input id="contact-name" name="contact-name" type="hidden" value="${data.get('contact-name', '')}"/>
        <input id="contact-email" name="contact-email" type="hidden" value="${data.get('contact-email', '')}"/>
        <input id="contact-phone" name="contact-phone" type="hidden" value="${data.get('contact-phone', '')}"/>

        <a class="btn btn-primary" data-toggle="modal" href="#edit-contact">Edit</a>
        <div style="display: none;" class="modal dgu-editor" id="edit-contact">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
            <h4 class="modal-title">Edit Contact Information</h4>
          </div>
          <div class="modal-body">
            <p>Edit any of the contact details below.</p>
            <div class="form-group">
              <label class="control-label" for="contact-name-editor">Name:</label>
              <input class="form-control" type="text" name="contact-name-dialog" data-label="#contact-name-label" data-input="#contact-name" value="${data.get('contact-name', '')}"/>
            </div>
            <div class="form-group">
              <label class="control-label" for="contact-email-editor">E-mail:</label>
              <input class="form-control" type="text" name="contact-email-dialog" data-label="#contact-email-label" data-input="#contact-email" value="${data.get('contact-email', '')}"/>
            </div>
            <div class="form-group">
              <label class="control-label" for="contact-phone-editor">Phone:</label>
              <input class="form-control" type="text" name="contact-phone-dialog" data-label="#contact-phone-label" data-input="#contact-phone" value="${data.get('contact-phone', '')}"/>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="dgu-editor-save btn btn-primary">Save Changes</a>
            <a href="#" data-dismiss="modal" class="btn btn-black-text">Close</a>
          </div>
          </div>
          </div>
        </div>
      </fieldset>

    </py:with>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-themes-field">
    <div style="width: 45%; float: left; margin-right: 4%;">
    <h3 style="font-weight: bold;">Primary Theme</h3>
    <p>1. Please choose a primary theme which this data record falls under from the options below.</p>
        ${primary_theme_input(data, errors)}
    </div>
    <div style="width: 45%; float: left; padding-left: 4%; border-left: 1px solid #aaa;">
      <h3>Secondary Theme</h3>
      <p>2. If there are other themes in this data, select them here:</p>
      <div class="well">
        ${secondary_theme_input(data, errors)}
      </div>
    </div>
    <div class="clearfix">&nbsp;</div>

    <hr/>
    <h3>Keywords</h3>
    <p>Please list keywords which describe the subject of this data in commonly used abstract terms e.g. "e-government, press work, information policy". Put commas between each phrase or keyword. We recommend <a href="http://eurovoc.europa.eu/drupal/?q=et/navigation&amp;cl=en" target="_blank">EuroVoc dictionary</a> as a reference standard.</p>
    <div class="form-group">
      <input class="form-control long autocomplete-tag" data-tagcomplete-queryparam="query" data-tagcomplete-url="/api/action/tag_autocomplete" id="tag_string" name="tag_string" size="60" type="text"
           value="${data.get('tag_string') or ', '.join(h.free_tags(data))}" />
    </div>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-additional_resources-field">
  <h3>Additional resources</h3>
  <p>You can add links to additional resources here.  Use a link for each resource.  This could be PDFs of files explaining the data or links to a website with more information. Use one link per resource.</p>
  <table class="table table-bordered table-striped table-condensed flexitable" id="additional_resources-table">
    <thead>
      <tr>
        <th></th>
        <th class="resource-name">Description:</th>
        <th class="resource-url"><div class="js-tooltip" title="This is the Internet link directly to the data.">Link: <i class="icon-info-sign"></i></div></th>
        <th class="resource-url"><div class="js-tooltip" title="The file format of the linked resource">Format: <i class="icon-info-sign"></i></div></th>
      </tr>
    </thead>
    <tbody>
      <py:for each="num, res in enumerate(data.get('additional_resources', []) + [{}])">
        <tr class="additional_resources__${num} resource">
          <td class="resource-move-cell">
            <div class="btn-group">
              <button class="btn btn-xs btn-default resource-move resource-move-up"><i class="icon-arrow-up"></i></button>
              <button class="btn btn-xs btn-default resource-move resource-move-down"><i class="icon-arrow-down"></i></button>
            </div>
            <div class="hidden-resource-fields">
              <!--! Because the resource fields are explicitly set in c.resource_columns, we need
                    to pull the others from the resource keys, strip the resource_columns and then
                    ignore resource_type, id and resource_group_id.

                    Code is long hand to keep the list comp understandable -->
              <py:for each="col in h.additional_extra_fields(res)">
                <input
                       id="additional_resources__${num}__${col}"
                       name="additional_resources__${num}__${col}"
                       type="hidden"
                       value="${res.get(col, '')}"/>
              </py:for>
              <input name="additional_resources__${num}__resource_type" type="hidden" value="${res.get('resource_type','documentation')}"/>
              <input py:if="res.get('id','')" name="additional_resources__${num}__id" type="hidden" value="${res.get('id','')}"/>
            </div>
          </td>
          <py:def function="apply_error_class(field,error_class)">
                <py:if test="h.cell_has_errors(errors,'additional_resources', num, field)">${error_class}</py:if>
          </py:def>
          <td>
              <input id="additional_resources__${num}__description"
                     name="additional_resources__${num}__description"
                     type="text"
                     value="${res.get('description', '')}"
                     class="form-control ${apply_error_class('description','field_error')}" />
          </td>
          <td>
            <span class="input-group ${apply_error_class('url','error')}">
              <input id="additional_resources__${num}__url"
                     name="additional_resources__${num}__url"
                     type="text"
                     value="${res.get('url', '')}"
                     class="form-control"/>
              <span class="input-group-btn">
                <button id="additional_resources__${num}__validate-resource-button"
                        class="validate-resource-button btn btn-default">Check</button>
              </span>
            </span>
          </td>
          <td>
            <input id="additional_resources__${num}__format"
                   name="additional_resources__${num}__format"
                   type="text"
                   value="${res.get('format', '')}"
                   class="input_additional_resources_format form-control ${apply_error_class('format', 'field_error')}" />
          </td>
        </tr>
      </py:for>
    </tbody>
    </table>
     <a href="javascript:;" id="additional_resources-add" class="btn btn-primary pull-right add-button"><i class="icon-plus"></i> &nbsp;Add row</a>
    <p style="display: block;" class="field_error" py:if="errors.get('additional_resources', '')">Row(s) partially filled.</p>
    <button class="validate-resources-button btn btn-default" id="validate-timeseries-button">Check all URLs</button>
    <span class="checking-links-label" style="display: none;">Checking, please wait...</span>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-temporal-field">
  <h3>Time &amp; date</h3>
  <p>Temporal coverage of the dataset.</p>
  <div class="form-inline">
    <div class="form-group">
      <input style="width:300px;" class="form-control needs-datepicker" id="temporal_coverage-from" name="temporal_coverage-from" type="text" value="${data.get('temporal_coverage-from', '')}" /> -
      <input style="width:300px;" class="form-control needs-datepicker" id="temporal_coverage-to" name="temporal_coverage-to" type="text" value="${data.get('temporal_coverage-to', '')}" />
    </div>
  </div>
  <p style="display: block;" class="field_error" py:if="errors.get('temporal_coverage-from', '')">${errors.get('temporal_coverage-from', '')}</p>
  <p style="display: block;" class="field_error" py:if="errors.get('temporal_coverage-to', '')">${errors.get('temporal_coverage-to', '')}</p>
  <p class="hints">e.g. 21/03/2007 - 03/10/2009 or 07:45 31/03/2006</p>
  <p class="instructions further">If available, please indicate the time as well as the date. Where data covers only a single day, the second box can be left blank.</p>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-state-field" py:if="h.is_sysadmin()">
    <h4>State</h4>
    <div class="well">
      <p>NB: Dangerous operation! (Available to sysadmins only)</p>
      <span>
      This dataset is&nbsp;&nbsp;
      <select id="state" class="dataset-delete" name="state" style="display:inline;">
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'active' else None}" value="active">active</option>
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'deleted' else None}" value="deleted">deleted</option>
      </select>
      </span>
    </div>
</fieldset>

<div class="clearfix">&nbsp;</div>
</div><!-- /tab-content -->

<div class="form-actions">
  <div id="nav-controls" class="submit">
    <div class="nav-backnext">
      <py:if test="not h.is_package_edit_form(data)">
        <input disabled="disabled" class="btn btn-primary" type="button" id="back-button" value="${_('&laquo; Back')}"/>
        <input class="btn btn-primary" type="button" id="next-button" value="${_('Next &raquo;')}"/>
      </py:if>
    </div>
  </div>
  <div id="disclaimer">
    <input id="save-button" class="btn btn-primary" name="save" type="submit" value="${_('Save and Finish')}"/>
    <p class="hints">
      <strong>Important:</strong>By submitting content, you agree to release your contributions under the <a href="/kasutustingimused">terms &amp; conditions</a> of the site.</p>
  </div>
</div><!-- /form-actions -->

</div><!-- col-xx-xx -->
</div><!-- row -->
</div>


<div class="modal fade" id="package_type_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
        <h4 class="modal-title">Discard date information?</h4>
      </div>
      <div class="modal-body">
        <p>Changing from a 'timeseries record' to a 'single file record' will discard the <code>date</code> information for each resource. Continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn cancel btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn ok btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</form>
