<form id="package-edit" method="post"
  py:attrs="{'class':'has-errors package_create_form ckan'} if errors else {'class':'package_create_form ckan'}"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  role="form"
  data-module="basic-form resource-form"
  enctype="multipart/form-data"
>

<xi:include href="../_dgu_util.html" />

<!-- recursive function turns errors into hierarchical lists -->
<py:def function="dump(o)">
  <ul py:if="type(o) is dict and bool(o)">
    <li py:for="k,v in h.iterate_error_dict(o)">
      <py:if test="type(v) in [str, unicode]">
        <b>${k}:</b> ${v}
      </py:if>
      <py:if test="not (type(v) in [str, unicode])">
        <b>${k}: </b> ${dump(v)}
      </py:if>
    </li>
  </ul>
  <ul py:if="type(o) is list and bool(o)">
    <py:for each="v in o">
      ${dump(v)}
    </py:for>
  </ul>
  <li py:if="(type(o) is str or type(o) is unicode) and bool(o)">
    ${o}
  </li>
</py:def>


  <div class="panel panel-danger error-explanation" py:if="bool(errors)">
    <div class="panel-heading"><strong>Vormil on vead</strong></div>
    <div class="panel-body">
      Vormil on puudulikke või vigaseid sisestusi:
      ${dump(errors)}
    </div>
  </div>

<div id="form-tabs" class="tabbable tabs-left">
  <div class="row">
    <div class="col-lg-3 col-sm-4">
      <ul class="nav nav-pills nav-stacked" py:with="
          boilerplate={'disabled':'disabled'} if h.use_wizard(data, errors) else {};
          classes = 'disabled' if h.use_wizard(data, errors) else '';
        ">
        <li class="active"><a data-toggle="tab" data-hash="tab-name" id="section-name" href="#section-name-fields">Nimi</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-data" id="section-data" py:attrs="boilerplate" href="#section-data-field">Andmefailid</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-description" id="section-description" py:attrs="boilerplate" href="#section-description-field">Kirjeldus</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-licence" id="section-licence" py:attrs="boilerplate" href="#section-licence-field">Litsents</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-publisher" id="section-publisher" py:attrs="boilerplate" href="#section-publisher-field">Teabevaldaja</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-themes" id="section-themes" py:attrs="boilerplate" href="#section-themes-field">Teemad</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-additional_resources" id="section-additional_resources" py:attrs="boilerplate" href="#section-additional_resources-field">Täiendavad ressursid</a></li>
        <li><a data-toggle="tab" class="${classes}" data-hash="tab-temporal" id="section-temporal" py:attrs="boilerplate" href="#section-temporal-field">Ajaline periood</a></li>
        <li py:if="h.is_sysadmin()"><a data-toggle="tab" class="${classes}" data-hash="tab-state" id="section-state" py:attrs="boilerplate" href="#section-state-field">Staatus</a></li>
      </ul>
    </div>
    <div class="col-lg-9 col-sm-8">

  <div class="tab-content">
<fieldset class="tab-pane boxed whitebox fade active in" id="section-name-fields">
  <p>Andke oma andmehulgale nimi.</p>
  <div class="form-group">
    <label for="title" class="js-tooltip tooltip-paragraph" data-placement="right" title="Kirjeldab lühidalt ja võimalikult informatiivselt andmehulga sisu ja eesmärki.">
      Nimi <i class="icon-info-sign"></i>
    </label>
    <input class="form-control field_req js-title input-xlarge" id="title" name="title" type="text" value="${data.get('title', '')}"/>
  </div>
  <py:if test="errors.get('title', '')">
    <div class="alert alert-danger">${errors.get('title', '')}</div>
  </py:if>

  <input id="extras__100__key" name="extras__100__key" type="hidden" value="unpublished" />
  <input id="extras__100__value" name="extras__100__value" type="hidden" value="false" />
  <py:if test="c.pkg">
    <input id="extras__101__key" name="extras__101__key" type="hidden" value="core-dataset" />
    <input id="extras__101__value" name="extras__101__value" type="hidden" value="${c.pkg.extras.get('core-dataset',False)}" />
  </py:if>

  <div class="form-group">
    <label for="name">
      <span class="js-tooltip" data-placement="right" title="Andmehulga unikaalne identifikaator. Võiks olla inimloetav, sõnad eraldatult sidekriipsuga, vältida täpitähti. Näiteks: liiklusonnetuste-statistika-2010 or kov-kulutused-2012.">
        Loo andmehulga URL: <i class="icon-info-sign"></i>
      </span>
      &nbsp;&nbsp;<span style="font-style: italic;" py:if="not h.is_package_edit_form(data)" class="js-url-is-valid">&nbsp;</span>
    </label>
    <div class="input-group">
      <span class="input-group-addon">/dataset/</span><input py:attrs="{'readonly':'readonly'} if h.is_package_edit_form(data) else {}" class="field_req js-url-input form-control" id="name" maxlength="100" name="name" type="text" value="${data.get('name', '')}"/>
    </div>
  </div>
  <py:if test="errors.get('name', '')">
    <div class="alert alert-danger">${errors.get('name', '')}</div>
  </py:if>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-data-field">
  <h3>Andmefailid</h3>
  <p>Siin saate sisestada lingid (s.t. URL) teie andmefailidele.</p>

  <p>
    Kui teie andmefailist genereeritakse sama lingi taga perioodiliselt uus versioon, siis valige andmehulga tüübiks "Perioodiline" ning täitke Uuendussageduse väli. Vastasel juhul valige andmehulga tüübiks "Ühekordne".<br/>
    Mõlema valiku puhul saate sisestada mitu linki, kasutades "Lisa rida" nuppu. Iga link peab sellisel juhul esindama sama andmhulka erinevates formaatides.
  </p>

  <p>
    <strong>NB! Ärge sisestage siia linke veebilehtedele.</strong> Sisestatud lingid peavad viitama tooretele andmefailidele. Veebilehtedele viitamiseks kasutage "Täiendavad ressursid" lehte.
  </p>
  <hr/>
  <p>See andmehulk on:</p>

  <div class="radio">
    <label>
      <input py:attrs="{'checked': 'checked' if not h.are_timeseries_resources(data) else None}" id="package_type-individual-radio" type="radio" name="package_type" value="individual"/>
      Ühekordne
    </label>
  </div>
  <div class="radio">
    <label>
      <input py:attrs="{'checked': 'checked' if h.are_timeseries_resources(data) else None}" id="package_type-timeseries-radio" type="radio" name="package_type" value="timeseries"/>
      Perioodiline
    </label>
  </div>

    <!-- The resource fieldset for a timeseries dataset -->
    <fieldset id="package_type-timeseries">
      <div class="well form-inline">
        <label for="update_frequency" class="js-tooltip" title="Kui sageli faile uuendatakse. Kui on nö ühekordsed andmed, valige 'mitte kunagi'. Kui kunagi uuendati, aga nüüd enam mitte, valige 'katkestatud'.">
          Uuendussagedus <i class="icon-info-sign"></i>
        </label>
        <select style="width: 200px;" class="form-control" id="update_frequency" name="update_frequency">
            <py:for each="freq_name, freq_desc in c.update_frequency">
              <option value="${freq_name}" py:attrs="{'selected': 'selected' if data.get('update_frequency', '') == freq_name else None}" >
                ${freq_desc}
              </option>
            </py:for>
            <option py:if="h.is_package_edit_form(data)" value="discontinued" py:attrs="{'selected': 'selected' if data.get('update_frequency', '') == 'discontinued' else None}" >discontinued</option>
        </select>
        <label style="margin-left: 20px;" class="" for="update_frequency-other">Muu:</label>
        <input class="form-control" style="width: 200px;" id="update_frequency-other" name="update_frequency-other" type="text" value="${data.get('update_frequency-other', '')}"/>
      </div><!-- /well -->
      <py:if test="errors.get('update_frequency')">
        <div class="alert alert-danger">${errors.get('update_frequency', '')}</div>
      </py:if>

      <table class="flexitable table table-bordered table-condensed table-striped" id="timeseries_resources-table">
      <thead>
        <tr>
          <th class="resource-move-cell"></th>
          <th class="resource-date">  <div class="js-tooltip" title="Perioodilisuse alguskuupäev. Kui pole kindel, siis praegune kuupäev. Formaat: PP/KK/AAAA">Kuupäev: <i class="icon-info-sign"></i></div></th>
          <th class="resource-name">  <div class="js-tooltip" title="Tekst, mida kuvatakse andmehulga lingi kõrval">Faili pealkiri: <i class="icon-info-sign"></i></div></th>
          <th class="resource-url">   <div class="js-tooltip" title="Link veebiaadressile, kust andmehulk on alla tõmmatav">URL: <i class="icon-info-sign"></i></div></th>
          <th class="resource-format"><div class="js-tooltip" title="Andmehulga faili formaat. Soovitatavad väärtused: CSV | RDF | XML | XBRL | SDMX | HTML+RDFa | Muu vastavalt sobivusele.">Formaat: <i class="icon-info-sign"></i></div></th>
        </tr>
      </thead>
      <tbody>
        <py:for each="num, res in enumerate(data.get('timeseries_resources', []) + [{}])">
        <tr class="timeseries_resources__${num} resource">
          <td class="resource-move-cell">
            <div class="btn-group">
              <button class="btn btn-xs btn-default resource-move resource-move-up"><i class="icon-arrow-up"></i></button>
              <button class="btn btn-xs btn-default resource-move resource-move-down"><i class="icon-arrow-down"></i></button>
            </div>
            <div class="hidden-resource-fields">
              <!--! Because the resource fields are explicitly set in c.resource_columns, we need
                    to pull the others from the resource keys, strip the resource_columns and then
                    ignore resource_type, id and resource_group_id.

                    Code is long hand to keep the list comp understandable -->
              <py:for each="col in h.timeseries_extra_fields(res)">
                <input
                       id="timeseries_resources__${num}__${col}"
                       name="timeseries_resources__${num}__${col}"
                       type="hidden"
                       value="${res.get(col, '')}"/>
              </py:for>
              <span class="resource-id"><input name="timeseries_resources__${num}__id" type="hidden" value="${res.get('id', '')}" /></span>
              <span class="resource-type"><input name="timeseries_resources__${num}__resource_type" type="hidden" value="${res.get('resource_type', '')}" /></span>
            </div>
          </td>
          <py:for each="col in ('date',) + c.resource_columns">
            <td class="resource-${col}">
              <py:choose test="">
                <py:when test="col=='description'">
                  <input id="timeseries_resources__${num}__${col}"
                         name="timeseries_resources__${num}__${col}"
                         type="text"
                         value="${res.get(col, '')}"
                         class="form-control ${'field_error' if h.cell_has_errors(errors,'timeseries_resources', num, col) else ''}" />
                </py:when>
                <py:when test="col=='url'">
                  <span class="input-group ${'error' if h.cell_has_errors(errors,'timeseries_resources', num, col)  else ''}">
                    <input id="timeseries_resources__${num}__${col}"
                           name="timeseries_resources__${num}__${col}"
                           type="text"
                           value="${res.get(col, '')}"
                           class="form-control"/>
                    <span class="input-group-btn">
                      <button id="timeseries_resources__${num}__validate-resource-button"
                        class="validate-resource-button btn btn-default">Kontrolli</button>
                    </span>
                  </span>
                </py:when>
                <py:when test="col=='date'">
                  <input
                       id="timeseries_resources__${num}__${col}"
                       name="timeseries_resources__${num}__${col}"
                       type="text"
                       value="${res.get(col, '')}"
                       class="form-control needs-datepicker ${'field_error' if h.cell_has_errors(errors,'timeseries_resources', num, col) else ''}"
                   />
                </py:when>
                <py:otherwise>
                  <input id="timeseries_resources__${num}__${col}"
                         name="timeseries_resources__${num}__${col}"
                         type="text"
                         value="${res.get(col, '')}"
                         class="form-control ${'field_error' if h.cell_has_errors(errors,'timeseries_resources', num, col) else ''}"
                   />
                </py:otherwise>
              </py:choose>
            </td>
          </py:for>
        </tr>
        </py:for>
      </tbody>
      </table>
      <a href="javascript:;" id="timeseries_resources-add" class="btn btn-primary pull-right add-button"><i class="icon-plus"></i> &nbsp;Lisa rida</a>

      <p class="field_error" py:if="errors.get('timeseries_resources', '')">Read vaid osaliselt täidetud.</p>
      <button class="validate-resources-button btn btn-default" id="validate-timeseries-button">Kontrolli kõiki URLe</button>
      <span class="checking-links-label" style="display: none;">Kontrollin, palun oodake...</span><br/>
    </fieldset>


    <!-- The resource fieldset for an individual dataset -->
    <fieldset id="package_type-individual">

      <p><strong>NB! Kui kuvatud link algab antud portaali aadressiga, on see üles laetud fail</strong>(vt. vastav võimalus allpool).</p>
      <table class="table table-bordered table-condensed table-striped" id="individual_resources-table">
      <thead>
        <tr>
          <th></th>
          <th class="resource-name"><div class="js-tooltip" title="Tekst, mida kuvatakse andmehulga lingi kõrval">Faili pealkiri: <i class="icon-info-sign"></i></div></th>
          <th class="resource-url"> <div class="js-tooltip" title="Link veebiaadressile, kust andmehulk on alla tõmmatav">URL: <i class="icon-info-sign"></i></div></th>
          <th class="resource-url"> <div class="js-tooltip" title="Andmehulga faili formaat. Soovitatavad väärtused: CSV | RDF | XML | XBRL | SDMX | HTML+RDFa | Muu vastavalt sobivusele.">Formaat: <i class="icon-info-sign"></i></div></th>
        </tr>
      </thead>
      <tbody>
        <py:for each="num, res in enumerate(data.get('individual_resources', []) + [{}])">
        <tr class="individual_resources__${num} resource">
          <td class="resource-move-cell">
            <div class="btn-group">
              <button class="btn btn-xs btn-default resource-move resource-move-up"><i class="icon-arrow-up"></i></button>
              <button class="btn btn-xs btn-default resource-move resource-move-down"><i class="icon-arrow-down"></i></button>
            </div>
            <div class="hidden-resource-fields">
              <!--! Because the resource fields are explicitly set in c.resource_columns, we need
                    to pull the others from the resource keys, strip the resource_columns and then
                    ignore resource_type, id and resource_group_id.

                    Code is long hand to keep the list comp understandable -->
              <py:for each="col in h.resource_extra_fields(res)">
                <input
                       id="individual_resources__${num}__${col}"
                       name="individual_resources__${num}__${col}"
                       type="hidden"
                       value="${res.get(col, '')}"/>
              </py:for>
              <span class="resource-id"><input name="individual_resources__${num}__id" type="hidden" value="${res.get('id', '')}" /></span>
              <span class="resource-type"><input name="individual_resources__${num}__resource_type" type="hidden" value="${res.get('resource_type', '')}" /></span>
            </div>
          </td>
          <py:for each="col in c.resource_columns">
            <td class="resource-${col}">
            <py:choose test="">
              <input py:when="col=='description'"
                     id="individual_resources__${num}__${col}"
                     name="individual_resources__${num}__${col}"
                     type="text"
                     value="${res.get(col, '')}"
                     class="form-control ${'field_error' if h.cell_has_errors(errors,'individual_resources', num, col) else ''}"
                     />
              <span class="input-group ${'error' if h.cell_has_errors(errors,'individual_resources', num, col) else ''}" py:when="col=='url'">
                <input id="individual_resources__${num}__${col}"
                       name="individual_resources__${num}__${col}"
                       type="text"
                       value="${res.get(col, '')}"
                       class="form-control"/>
                <span class="input-group-btn">
                  <button id="individual_resources__${num}__validate-resource-button"
                      class="validate-resource-button btn btn-default" style="font-weight:0.9em">Kontrolli</button>
                </span>
              </span>
              <input py:when="col=='format'"
                     id="individual_resources__${num}__${col}"
                     name="individual_resources__${num}__${col}"
                     type="text"
                     value="${res.get(col, '')}"
                     data-provider="typeahead"
                     data-items="8"
                     class="form-control format-typeahead ${'field_error' if h.cell_has_errors(errors,'additional_resources', num, col) else ''}"
                     />
              <input py:otherwise=""
                     id="individual_resources__${num}__${col}"
                     name="individual_resources__${num}__${col}"
                     type="text"
                     value="${res.get(col, '')}"
                     class="input-small ${'field_error' if h.cell_has_errors(errors,'individual_resources', num, col) else ''}"
                     />
            </py:choose>
            </td>
          </py:for>
        </tr>
        </py:for>
      </tbody>
      </table>
      <a href="javascript:;" id="individual_resources-add" class="btn btn-primary pull-right add-button"><i class="icon-plus"></i> &nbsp;Lisa rida</a>

      <p class="field_error" py:if="errors.get('individual_resources', '')">Read vaid osaliselt täidetud.</p>
      <button class="btn-default validate-resources-button btn" id="validate-timeseries-button">Kontrolli kõike URLe...</button>
      <span class="checking-links-label" style="display: none;">Kontrollin, palun oodake...</span><br/>
    </fieldset>
    <hr/>

    <div id="file-upload-div">
        <p>
            <strong>Andmehulka saab üles laadida ka faili(de)na</strong>, kasutades alljärgnevaid sisendeid.<br/>
            Nad võivad olla lisaks ülaltoodud linkidele, kuid võite ka piirduda ainult üles laetud failidega.<br/>
            Kuna suuri andmekogusid on otstarbekam serveeerida teabevaldaja lingilt, on laetavate failide <strong>suuruse piirang ${config.get('ckan.max_resource_size', '10')} MB</strong>. Te saate korraga üles laadida ühe faili.
            Täiendavate failide laadimiseks peate antud vormile läbi andmehulga muutmise operatsiooni tagasi pöörduma.<br/>
        </p>
        <table class="table table-bordered table-condensed table-striped" id="file-upload-table">
            <thead>
                <tr>
                    <th class="resource-name" style="width:30%"><div class="js-tooltip" title="" data-original-title="Tekst, mida kuvatakse andmehulga lingi kõrval">Faili pealkiri: <i class="icon-info-sign"></i></div></th>
                    <th class="resource-url" style="width:50%"><div class="js-tooltip" title="" data-original-title="Tekst, mida kuvatakse andmehulga lingi kõrval">Lühikirjeldus: <i class="icon-info-sign"></i></div></th>
                    <th class="resource-name" style="width:20%"><div class="js-tooltip" title="" data-original-title="Faili formaat">Faili formaat: <i class="icon-info-sign"></i></div></th>
                </tr>
            </thead>
            <tbody>
                <tr class="individual_resources__0 resource" style="background-color:#f9f9f9">
                    <td class="resource-description"><input type="text" name="file_name" value="" class="form-control"/></td>
                    <td class="resource-description"><input type="text" name="file_descr" value="" class="form-control"/></td>
                    <td class="resource-format"><input type="text" name="file_format" value="" class="form-control"/></td>
                </tr>
                <tr class="individual_resources__1 resource">
                    <td colspan="3"><label for="file-upload-input">Lae fail:</label>&nbsp;<input id="file-upload-input" type="file" name="file_uploaded" value="" style="display:inline"/></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr/>

    <p><strong>Formaat:</strong> Kirjeldab faili formaati. Soovitatavad väärtused:<br/>
    CSV | RDF | XML | XBRL | SDMX | HTML+RDFa | Muu vastavalt sobivusele
    </p>

</fieldset>


<fieldset class="tab-pane boxed whitebox fade" id="section-description-field">
  <h3>Kirjeldus</h3>
  <p class="instructions basic">Lisage andmehulga kirjeldus. Mida see andmehulk sisaldab/näitab? Millal on ta loodud?</p>
  <p class="instructions further instruction-needed">(Kirjeldust kuvatakse sageli andmehulga pealkirja juures. Ta võiks alata lühikese lausega, mis kirjeldab andmhulga sisu võimalikult täpselt. Muuhulgas võiks siin kirjeldada ka kõik andmehulga kvaliteedi ja kasutamisega seotud piirangud. Ka ebatäielikud andmehulgad võivad huvi pakkuda.)</p>
  <textarea class="form-control field_req" cols="260" id="notes" name="notes" rows="10">${data.get('notes', '')}</textarea>
  <p class="field_error" py:if="errors.get('notes', '')">${errors.get('notes', '')}</p>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade form-inline" id="section-licence-field">
  <h3>Litsents</h3>
    <div class="form-group">
    <label for="license_id">Litsents:</label>
    <select id="license_id" class="form-control" name="license_id">

      <!--! An explanation of what's going on here...
           There are a few cases to handle here:

            1. An new/edit form with a license_id:  the options available to the
               user are an OGL license; a free-text non-OGL license; and the
               dataset's current license (edit form only).

            2. An edit form with a license in the extra fields: this is a
               harvested dataset.

            * license_extra implies an edition form with a license in the
              extra fields.  ie - a harvested license.
     -->
      <py:for each="license_id, license_desc in h.license_choices(data)">
        <option value="${license_id}" py:attrs="{'selected': 'selected' if data.get('license_id', 'uk-ogl') == license_id else None}">${license_desc}</option>
      </py:for>

      <option py:if="h.get_license_extra(c.pkg)" value="__extra__" selected="selected">Andmekorjest saadud litsents...</option>
      <option py:if="not h.get_license_extra(c.pkg)" value="" py:attrs="{'selected': 'selected' if (data.get('license_id', 'uk-ogl') not in h.get_ckan_licenses()) else None}">Määra muu...</option>

    </select>
  </div>
  <p class="instructions basic">Litsents, mille alusel antud andmehulk on publitseeritud.</p>
  <p class="instructions further">
    Avaandmete hulgal peab olema litsents, mis võimaldab tema vaba, piiranguteta kasutamist, töötlemist ja levitamist,<br/>
    sealjuures võimaldama levitamist kasutaja valikul nii tasuta kui tasu eest.<br/>
    Sobiva litsentsi puudumisel ülal pakutavas valikus palume valida "Muu" ning täita vastav tekstiväli.
  </p>

    <div class="form-group choose-other-licence">
      <label for="license_extra">Litsents (muu):</label>
      <textarea class="form-control" py:if="not h.get_license_extra(c.pkg)" rows="1" cols="60" id="access_constraints" name="access_constraints">${data.get('access_constraints', '') if data.get('access_constraints', '') else (data.get('license_id', 'uk-ogl') if (data.get('license_id', 'uk-ogl') not in h.get_ckan_licenses()) else '')}</textarea>
      <textarea class="form-control" py:if="h.get_license_extra(c.pkg)" rows="1" cols="60" id="access_constraints" name="license_extra" disabled="disabled">${h.get_license_extra(c.pkg)}</textarea>
      <input class="form-control" py:if="h.get_license_extra(c.pkg)" rows="10" cols="60" id="actual_access_constraints" name="access_constraints" type="hidden" value="${c.pkg.extras.get('access_constraints','')}"/>
    </div>
    <p py:if="errors.get('license_id')" class="field_error" style="display: block;">${errors.get('license_id','')}</p>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-publisher-field">
  <h3>Teabevaldaja</h3>
    <div class="form-group">
      <label for="owner_org">Andmehulga avaldaja: </label>
      <!--! data['owner_org'] is a group.id. Either it is the existing value in the database, or the value from this form that was submitted invalid, or from the owner_org={id} URL parameter. -->
      <select class="form-control" id="owner_org" name="owner_org" py:with="owner_org=data.get('owner_org')">
        <option value=" " py:attrs="{'selected': 'selected' if not owner_org else None}" >Valige teabevaldaja...</option> <!--! NB Value is " " to ensure that validation fails if this is selected, due to it checking 'name' is not_empty. In addition, in logic/auth/create.py this particular value is authorized, so when you submit the form with this value, rather that say 'not authorized', it carries on to validation where it fails and shows the user a better error. -->
        <py:for each="publisher_name, publisher in sorted(c.publishers.items())">
          <option value="${publisher.id}" py:attrs="{'selected': 'selected' if owner_org == publisher.id else None}" >
            ${publisher['title']}
          </option>
        </py:for>
      </select>
    </div>
    <p class="field_error" py:if="errors.get('owner_org', '')">Valige teabevaldaja.</p>
    <hr/>
  <h3>Kontaktandmed</h3>
    <p>Vaikimisi kuvatakse andmehulga vaatelehel teabevaldaja infos määratud kontaktandmeid. Alltoodud sektsioonis on teil võimalik neid antud andhulga tarvis "Muuda" nupu abil muuta.</p>
    <py:with vars="group=h.edit_publisher_group(data)">
      <fieldset id="publisher-information-field" class="well" >
        <h3>Andmehulga valdaja kontaktandmed</h3>
        <p><b>Nimi: </b> <span id="contact-name-label">${data.get('contact-name', '')}</span></p>
        <p><b>E-mail: </b><span id="contact-email-label">${data.get('contact-email', '')}</span></p>
        <p><b>Telefon: </b><span id="contact-phone-label">${data.get('contact-phone', '')}</span></p>

        <input id="contact-name" name="contact-name" type="hidden" value="${data.get('contact-name', '')}"/>
        <input id="contact-email" name="contact-email" type="hidden" value="${data.get('contact-email', '')}"/>
        <input id="contact-phone" name="contact-phone" type="hidden" value="${data.get('contact-phone', '')}"/>

        <a class="btn btn-primary" data-toggle="modal" href="#edit-contact">Muuda</a>
        <div style="display: none;" class="modal dgu-editor" id="edit-contact">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
            <h4 class="modal-title">Muuda kontaktandmeid</h4>
          </div>
          <div class="modal-body">
            <p>Muuda alltoodud välju.</p>
            <div class="form-group">
              <label class="control-label" for="contact-name-editor">Nimi:</label>
              <input class="form-control" type="text" name="contact-name-dialog"  data-label="#contact-name-label"  data-input="#contact-name" value="${data.get('contact-name', '')}" />
            </div>
            <div class="form-group">
              <label class="control-label" for="contact-email-editor">E-mail:</label>
              <input class="form-control" type="text" name="contact-email-dialog" data-label="#contact-email-label" data-input="#contact-email" value="${data.get('contact-email', '')}" />
            </div>
            <div class="form-group">
              <label class="control-label" for="contact-phone-editor">Telefon:</label>
              <input class="form-control" type="text" name="contact-phone-dialog" data-label="#contact-phone-label" data-input="#contact-phone" value="${data.get('contact-phone', '')}" />
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="dgu-editor-save btn btn-primary">Salvesta muudatused</a>
            <a href="#" data-dismiss="modal" class="btn btn-black-text">Sulge</a>
          </div>
          </div>
          </div>
        </div>
      </fieldset>

    </py:with>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-themes-field">
    <div style="width: 45%; float: left; margin-right: 4%;">
        <h3 style="font-weight: bold;">Põhiteema</h3>
    <p>1. Palun valige põhiteema, mida antud andmehulk katab.</p>
        ${primary_theme_input(data, errors)}
    </div>
    <div style="width: 45%; float: left; padding-left: 4%; border-left: 1px solid #aaa;">
      <h3>Muud teemad</h3>
      <p>2. Valige muud teemad, mida antud andmehulk katab:</p>
      <div class="well">
        ${secondary_theme_input(data, errors)}
      </div>
    </div>
    <div class="clearfix">&nbsp;</div>

    <hr/>
    <h3>Võtmesõnad</h3>
    <p>
        Loetlege võtmesõnad, mis lisaks ülaltoodud teemadele iseloomustavad teie andmhulka (näited: e-valitsus, teabelevi, teabepoliitika jne). Eraldage võtmesõnad (või näiteks sõnapaarid) komadega.<br/>
        Soovitame kasutada EuroVoc sõnastiku <a href="http://eurovoc.europa.eu/drupal/?q=download/subject_oriented&cl=et">eesti keelset varianti</a>.
    </p>
    <div class="form-group">
      <input class="form-control long" id="tag_string" name="tag_string" size="60" type="text"
           value="${data.get('tag_string') or ', '.join(h.free_tags(data))}" />
    </div>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-additional_resources-field">
  <h3>Täiendavad ressursid</h3>
  <p>Te saate lisada linke täiendavatele ressurssidele (nt. dokumendid, veebilehed või failid), mis antud andmehulka kirjeldavad või on sellega seotud. Ühe ressursi kohta kasutage ühte linki.</p>
  <table class="table table-bordered table-striped table-condensed flexitable" id="additional_resources-table">
    <thead>
      <tr>
        <th></th>
        <th class="resource-name">Kirjeldus:</th>
        <th class="resource-url"><div class="js-tooltip" title="Täiendava ressursi veebiaadress.">Link: <i class="icon-info-sign"></i></div></th>
        <th class="resource-url"><div class="js-tooltip" title="Täiendava ressursi formaat">Formaat: <i class="icon-info-sign"></i></div></th>
      </tr>
    </thead>
    <tbody>
      <py:for each="num, res in enumerate(data.get('additional_resources', []) + [{}])">
        <tr class="additional_resources__${num} resource">
          <td class="resource-move-cell">
            <div class="btn-group">
              <button class="btn btn-xs btn-default resource-move resource-move-up"><i class="icon-arrow-up"></i></button>
              <button class="btn btn-xs btn-default resource-move resource-move-down"><i class="icon-arrow-down"></i></button>
            </div>
            <div class="hidden-resource-fields">
              <!--! Because the resource fields are explicitly set in c.resource_columns, we need
                    to pull the others from the resource keys, strip the resource_columns and then
                    ignore resource_type, id and resource_group_id.

                    Code is long hand to keep the list comp understandable -->
              <py:for each="col in h.additional_extra_fields(res)">
                <input
                       id="additional_resources__${num}__${col}"
                       name="additional_resources__${num}__${col}"
                       type="hidden"
                       value="${res.get(col, '')}"/>
              </py:for>
              <input name="additional_resources__${num}__resource_type" type="hidden" value="${res.get('resource_type','documentation')}"/>
              <input py:if="res.get('id','')" name="additional_resources__${num}__id" type="hidden" value="${res.get('id','')}"/>
            </div>
          </td>
          <py:def function="apply_error_class(field,error_class)">
                <py:if test="h.cell_has_errors(errors,'additional_resources', num, field)">${error_class}</py:if>
          </py:def>
          <td>
              <input id="additional_resources__${num}__description"
                     name="additional_resources__${num}__description"
                     type="text"
                     value="${res.get('description', '')}"
                     class="form-control ${apply_error_class('description','field_error')}" />
          </td>
          <td>
            <span class="input-group ${apply_error_class('url','error')}">
              <input id="additional_resources__${num}__url"
                     name="additional_resources__${num}__url"
                     type="text"
                     value="${res.get('url', '')}"
                     class="form-control"/>
              <span class="input-group-btn">
                <button id="additional_resources__${num}__validate-resource-button"
                        class="validate-resource-button btn btn-default">Kontrolli</button>
              </span>
            </span>
          </td>
          <td>
            <input id="additional_resources__${num}__format"
                   name="additional_resources__${num}__format"
                   type="text"
                   value="${res.get('format', '')}"
                   class="input_additional_resources_format form-control ${apply_error_class('format', 'field_error')}" />
          </td>
        </tr>
      </py:for>
    </tbody>
    </table>
    <a href="javascript:;" id="additional_resources-add" class="btn btn-primary pull-right add-button"><i class="icon-plus"></i> &nbsp;Lisa rida</a>
    <p style="display: block;" class="field_error" py:if="errors.get('additional_resources', '')">Read osaliselt täitmata.</p>
    <button  class="validate-resources-button btn btn-default" id="validate-timeseries-button">Kontrolli kõiki URLe</button>
    <span class="checking-links-label" style="display: none;">Kontrollin, palun oodake...</span>
    <hr/>

</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-temporal-field">
  <h3>Aeg ja kuupäev</h3>
  <p>Ajaline periood, mida antud andmehulk katab.</p>
  <div class="form-inline">
    <div class="form-group">
      <input style="width:300px;" class="form-control" id="temporal_coverage-from" name="temporal_coverage-from" type="text" value="${data.get('temporal_coverage-from', '')}" /> -
      <input style="width:300px;" class="form-control" id="temporal_coverage-to" name="temporal_coverage-to" type="text" value="${data.get('temporal_coverage-to', '')}" />
    </div>
  </div>
  <p style="display: block;" class="field_error" py:if="errors.get('temporal_coverage-from', '')">${errors.get('temporal_coverage-from', '')}</p>
  <p style="display: block;" class="field_error" py:if="errors.get('temporal_coverage-to', '')">${errors.get('temporal_coverage-to', '')}</p>
  <p class="hints">nt. 21/03/2007 - 03/10/2009 or 07:45 31/03/2006</p>
  <p class="instructions further">Kui võimalik, siis näidake nii kuupäev kui kellaaeg. Kui andmed katavad vaid ühte päeva, siis võib teise lahtri tühjaks jätta.</p>
</fieldset>

<fieldset class="tab-pane boxed whitebox fade" id="section-state-field" py:if="h.is_sysadmin()">
    <h4>Staatus</h4>
    <div class="well">
      <p>NB: Ohtlik operatsioon! (Ainult süsteemiadministraatoritele)</p>
      <span>
      See andmehulk on&nbsp;&nbsp;
      <select id="state" class="dataset-delete" name="state" style="display:inline;">
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'active' else None}" value="active">aktiivne</option>
        <option py:attrs="{'selected': 'selected' if data.get('state') == 'deleted' else None}" value="deleted">kustutatud</option>
      </select>
      </span>
    </div>
</fieldset>

<div class="clearfix">&nbsp;</div>
</div><!-- /tab-content -->

<div class="form-actions">
  <div id="nav-controls" class="submit">
    <div class="nav-backnext">
      <py:if test="not h.is_package_edit_form(data)">
        <input disabled="disabled" class="btn btn-primary" type="button" id="back-button" value="&laquo; Tagasi" />
        <input                     class="btn btn-primary" type="button" id="next-button" value="Edasi &raquo;" />
      </py:if>
    </div>
  </div>
  <div id="disclaimer">
    <input id="save-button" class="btn btn-primary" name="save" type="submit" value="Salvesta ja lõpeta" />
    <p class="hints">
      <strong>Tähtis:</strong> Salvestades lubate avaldada oma andmehulga vastavalt antud portaali <a href="/kasutustingimused">kasutustingimustele</a>.
    </p>
  </div>
</div><!-- /form-actions -->

</div><!-- col-xx-xx -->
</div><!-- row -->
</div>


<div class="modal fade" id="package_type_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
        <h4 class="modal-title">Loobu kuupäevadest?</h4>
      </div>
      <div class="modal-body">
        <p>Perioodilisest ühekordseks tagasi muutmisel kaovad sisestatud perioodilisuse alguskuupäevad. Kas jätkame?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn cancel btn-default" data-dismiss="modal">Ei</button>
        <button type="button" class="btn ok btn-primary" data-dismiss="modal">Jah</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</form>
