<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dcat="http://www.w3.org/ns/dcat#"
  typeof="dcat:Dataset"
  about=""
  py:strip="">

  <py:def function="package_optional_head">
    <link rel="stylesheet" href="/css/dgu-recline-pack.min.css" />
    <script py:if="not h.is_wms(c.resource)" type="text/javascript">
      var preload_resource = ${h.literal(h.resource_as_json(c.resource))};
      var embedPath = "${h.url_for(controller='package', action='resource_embedded_dataviewer', id=c.package.id, resource_id=c.resource.id, qualified=True)}";
    </script>
  </py:def>

  <py:match path="breadcrumbs">
    <li><a href="/data/search">Andmehulgad</a></li>
    <li><a href="${h.url_for(controller='package',action='read',id=c.pkg_dict['name'])}">${c.pkg_dict.get('title', c.pkg_dict['name'])}</a></li>
    <li><a href="${h.url_for(controller='package',action='resource_read',id=c.pkg_dict['name'],resource_id=c.resource.id)}">${h.resource_display_name(c.resource)}</a></li>
  </py:match>

  <py:def function="page_title">
    ${h.resource_display_name(c.resource)} - ressursid
  </py:def>

  <div py:def="package_content">
    <hr/>
    <div py:if="c.resource.get('state') == 'deleted'" class="panel panel-danger">
      <div class="panel-heading">Kustutatud ressurss</div>
      <py:with vars="deleted=if_(h.dataset_type(c.pkg_extras)=='uklp','tühistatud','kustutatud')">
        <div class="panel-body">See ressurss on <strong>${deleted}</strong>.</div>
      </py:with>
    </div>

    <div class="pull-right">
      <a py:if="c.resource.get('url')" class="btn btn-danger resource-url-analytics resource-type-${c.resource.get('resource_type')}" href="${c.resource.get('url')}" onclick="${h.ga_download_tracking(c.resource)}">
        <py:choose test="c.resource.get('resource_type')">
          <py:when test="'listing'"><i class="icon-search"></i>&nbsp; Vaata</py:when>
          <py:when test="'service'"><i class="icon-search"></i>&nbsp; Vaata</py:when>
          <py:when test="'api'"><i class="icon-code"></i>&nbsp; API link</py:when>
          <py:otherwise>
            <div class="download">
              <py:if test="not h.get_resource_wms(c.resource)">
                <i class="icon-download"></i>&nbsp; Laadi alla
              </py:if>
              <py:if test="h.get_resource_wms(c.resource)">
                <i class="icon-search"></i>&nbsp; Link
              </py:if>
            </div>
          </py:otherwise>
        </py:choose>
      </a>
      <py:with vars="cache_url, cache_timestamp = h.get_cache(c.resource)">
       <a py:if="cache_url and not bool(h.get_resource_wms(c.resource))" class="btn btn-danger resource-url-analytics resource-type-${c.resource.get('resource_type')}" href="${cache_url}" onclick="${h.ga_download_tracking(c.resource, 'download-cache')}">
        <div class="download js-tooltip" data-placement="bottom" data-original-title="Puhverdatud: ${cache_timestamp.strftime('%d/%m/%Y') if cache_timestamp else 'teadmata'}">
          <py:if test="not bool(h.get_resource_wms(c.resource))">
              <i class="icon-save"></i>&nbsp; Puhverdatud
          </py:if>
        </div>
       </a>
      </py:with>
      <py:if test="config.get('ckan.datastore.enabled', False)">
        <py:if test="c.resource.get('webstore_url')">
          <a class="btn btn-success btn-datagov" data-toggle="modal" href=".modal-data-api-help">Andmete API</a>
        </py:if>
        <py:if test="not c.resource.get('webstore_url')">
          <a class="btn btn-datagov disabled" rel="tooltip" title="Andmete API sellele sellele ressursile pole kättesaadav">Andmete API</a>

        </py:if>
      </py:if>
      <py:if test="h.is_wms(c.resource)"> <!--! Only display buttons if this resource is WMS. Otherwise, Widget Preview buttons would display for all resources of a WMS dataset otherwise-->
        ${map_preview_button_direct(c.pkg_dict,small=False)} <!--! Supply both since there is no ID in pkg_dict! -->
      </py:if>
    </div>
    <h2>Ressurss: <span class="h2-subheading">&ldquo;${h.resource_display_name(c.resource)}&rdquo;</span></h2>

    <py:if test="config.get('ckan.datastore.enabled', False)">
      ${data_api_help(c.datastore_api)}
    </py:if>

    ${data_viewer_embed_dialog()}

    <py:if test="c.resource.get('description')">
      <div class="resource-notes" property="rdfs:label">
        ${c.resource.get('description')}
      </div>
    </py:if>

    <div class="recline-read-only resource-preview">
      <div class="preview-header" py:if="not h.is_wms(c.resource)">
        <h2>Eelvaade</h2>
        <p>Eelvaade on hetkel võimalik vaid järgmiste failitüüpide jaoks: CSV, tabelarvutus ja vabatekst. <span id="ckanext-datapreview-source"></span></p>
      </div>
      <div id="ckanext-datapreview"></div>
      <div id="ckanext-datapreview-extra"></div>
      <div id="ckanext-html-preview"></div>
    </div>

    <table class="table table-bordered">
      <tr py:if="c.resource['last_modified']">
        <td class="key">Viimati muudetud:</td>
        <td class="value">${h.render_datestamp(c.resource['last_modified'])}</td>
      </tr>
      <tr py:with="fmt = (c.resource.get('format') or 'not specified').strip().lower()">
        <td class="key">Formaat:</td>
        <td class="value">${format_box(fmt)}</td>
      </tr>
      <tr py:if="c.resource.get('resource_type') in ('file', None)">
        <!--! This is data, so show 5 stars of openness -->
        <td class="key">Taaskasutatavus:</td>
        <td class="value">${h.render_resource_stars(c.resource['id'])}</td>
      </tr>
      <tr>
        <td class="key">Kvaliteedikontroll:<a name="qualitycheck"></a></td>
        <td class="value">${h.render_qa_info_for_resource(c.resource)}</td>
      </tr>
      <tr py:for="field_dict, label_attributes, value_attributes in h.get_resource_fields(c.resource,dict(c.pkg_extras))">
        <td class="dataset-label" py:attrs="label_attributes">${field_dict.get('label') or field_dict['name']}</td>
        <td class="dataset-details" py:attrs="value_attributes">${field_dict.get('value') or '-'}</td>
      </tr>
    </table>



    <span class="insert-comment-thread"></span>
  </div>


  <py:def py:if="not h.is_wms(c.resource)" function="optional_footer">
    <!-- data preview -->
    <script type="text/javascript" src="${h.url_for_static('/scripts/dgu-recline-pack.min.js')}"></script>
    <!--[if lt IE 8]>
    <script>
      CKAN.Dgu.resourcePreviewer.loadPreviewDialog = function(x){};
      $(function() {
        // Kill the data preview
        $('<div/>').text('Preview requires Internet Explorer 8 or higher.').addClass('alert').addClass('alert-info').appendTo($('#ckanext-datapreview'));
      });
    </script>
    <![endif]-->
    <script type="text/javascript">
      $(function() {
        CKAN.Dgu.resourcePreviewer.loadPreviewDialog(preload_resource);
      });
    </script>
  </py:def>

  <py:def function="data_api_help(datastore_api)">
    <div class="modal-data-api-help modal fade in" style="display: none;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>
          CKAN API
        </h3>
      </div>
      <div class="modal-body">
        <p><strong>Ligipääs andmetele läbi veebipõhise päringuliidese</strong>. Rohkem informatsiooni <a href="http://docs.ckan.org/en/latest/using-data-api.html" target="_blank">CKAN ametlikus Data API ja DataStore dokumentatsioonis</a>.</p>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href=".collapse-endpoints">Liidesed &raquo;</a>
          </div>
          <div class="collapse-endpoints in accordion-body collapse">
            <div class="accordion-inner">
              <p>Andmete API toetub ElasticSearch teenusele selliselt, et iga ressursi API on sisuliselt võrdne ühe indeksi tüübiga ElasticSearch'is. S.t. te saate otseselt taaskasutada <a href="http://www.elasticsearch.org/guide/appendix/clients.html" _target="blank">ElasticSearch kliendi teeke</a> kui API'ga ühendute.</p>
              <table class="table-condensed table-striped table-bordered">
                <thead></thead>
                <tbody>
                  <tr>
                    <th>Baas</th>
                    <td><code>${datastore_api}</code></td>
                  </tr>
                  <tr>
                    <th>Päring</th>
                    <td>
                      <code>${datastore_api}/_search</code>
                    </td>
                  </tr>
                  <tr>
                    <th>Päringu näidis</th>
                    <td>
                      <code><a href="${datastore_api}/_search?size=5&amp;pretty=true" target="_blank">${datastore_api}/_search?size=5&amp;pretty=true</a></code>
                    </td>
                  </tr>
                  <tr>
                    <th>Struktuur</th>
                    <td>
                      <code><a href="${datastore_api}/_mapping" target="_blank">${datastore_api}/_mapping?pretty=true</a></code>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href=".collapse-querying" data-toggle="collapse">Pärimine
              &raquo;</a>
          </div>
          <div class="collapse-endpoints in accordion-body">
            <div class="accordion-inner">
              <strong>Päringu näide (esimesed 5 tulemust)</strong>
              <p>
              <code><a href="${datastore_api}/_search?size=5&amp;pretty=true" target="_blank">${datastore_api}/_search?size=5&amp;pretty=true</a></code>
              </p>

              <strong>Päringu näide (tulemused kus 'asutus' on <code>pealkiri</code> väljas)</strong>
              <p>
              <code><a href="${datastore_api}/_search?q=title:asutus&amp;size=5&amp;pretty=true"
                  target="_blank">${datastore_api}/_search?q=title:asutus&amp;size=5&amp;pretty=true</a></code>
              </p>

              <strong>Struktuur</strong>
              <p>
              <code><a href="${datastore_api}/_mapping" target="_blank">${datastore_api}/_mapping?pretty=true</a></code>
              </p>

              <strong>API link</strong>
              <p>
              <code>${datastore_api}</code>
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href=".collapse-javascript" data-toggle="collapse">Näide: Javascript</a>
          </div>
          <div class="accordion-body collapse-javascript in">
            <div class="accordion-inner">
              <p>A simple ajax (JSONP) request to the data API using jQuery.</p>
              <p>Lihtne Ajax (JSONP) päring andmete API külge kasutades jQuery't.</p>
              <pre>
      var data = {
        size: 5 // get 5 results
        q: 'title:asutus' // query on the title field for 'asutus'
      };
      $.ajax({
        url: '${datastore_api}/_search',
        data: data,
        dataType: 'jsonp',
        success: function(data) {
          alert('Total results found: ' + data.hits.total)
        }
      });</pre>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href=".collapse-javascript" data-toggle="collapse">Näide: Python</a>
          </div>
          <div class="accordion-body collapse-javascript in">
            <div class="accordion-inner">
              <pre>
      import urllib
      url = '${datastore_api}/_search?size=5&amp;q=title:asutus'
      fileobj = urllib.urlopen(url)
      print fileobj.read()
      </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </py:def>

  <py:def function="data_viewer_embed_dialog()">
    <div class="modal-data-viewer-embed-dialog modal fade in" style="display: none;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>
          Integreeri Data Viewer
        </h3>
      </div>
      <div class="modal-body">
        <div>
          <p><strong>Integreeri see vaade</strong>, kopeerides järgnev lõik oma veebisaiti:</p>
          <textarea class="embedIframeText" style="width: 100%; height: 200px;"></textarea>
          <p>Vali laius ja kõrgus pikslites:</p>
          <label for="iframe-width">Laius:</label>
          <input class="iframe-width" name="iframe-width" value="800"/>
          <label for="iframe-height">Kõrgus:</label>
          <input class="iframe-height" name="iframe-height" value="500"/>
        </div>
        <a class="embedLink" href="">Eelvaade</a>
      </div>
    </div>
  </py:def>


  <xi:include href="read_common.html" />
</html>

