<form id="feedback-edit" method="post"
  py:attrs="{'class':'has-errors package_create_form ckan form-horizontal'} if c.errors else {'class':'package_create_form ckan form-horizontal'}"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  onsubmit="return validate_feedback()"
>

<!-- recursive function turns errors into hierarchical lists -->
<py:def function="dump(o)">
  <ul py:if="type(o) is dict and bool(o)">
    <li py:for="k,v in h.iterate_error_dict(o)">
      <py:if test="type(v) in [str, unicode]">
        <b>${k}:</b> ${v}
      </py:if>
      <py:if test="not (type(v) in [str, unicode])">
        <b>${k}: </b> ${dump(v)}
      </py:if>
    </li>
  </ul>
  <ul py:if="type(o) is list and bool(o)">
    <py:for each="v in o">
      ${dump(v)}
    </py:for>
  </ul>
  <li py:if="(type(o) is str or type(o) is unicode) and bool(o)">
    ${o}
  </li>
</py:def>


<p py:if="c.pkg.extras.get('unpublished', False)">Palun täitke antud vorm, et anda tagasisidet andtud andmehulga ja selle võimaliku mõju kohta.</p>

<p py:if="c.pkg.extras.get('unpublished', False) == False">
Palun täitke antud vorm, et anda tagasisidet andtud andmehulga ja selle võimaliku mõju kohta.
</p>

<div class="panel panel-danger errors" style="display:none;">
  <div class="panel-heading">Viga</div>
  <div class="panel-body">Vormil on vead, palun korrigeerige need enne salvestamist.</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>1. Märkige antud andmehulga avaldamisest Teie arvates tulenevad kasud</strong></div>
  <div class="panel-body">
    <div class="control-group" id="economic-group">
      <label class="checkbox">
        <input type="checkbox" value="yes" name="economic" onclick="$('#economicdiv').toggle('slideDown');"/>
        <strong>Majanduskasv</strong>
      </label>
      <p class="add-feedback-icon"><i class="icon-eur"></i></p>
      <p>s.t. selle andmehulga avalikustamine võimaldab Teil või Teie organisatsioonil pakkuda teatud kommertsteenuseid, või omab muud positiivset majanduslikku mõju nagu näiteks turgude parem funktsioneerimine.</p>

      <div id="economicdiv" class="comment_block">
          <span class="help-block">Palun kirjeldage täpsemalt</span>
          <textarea name="economic_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
    <div class="control-group" id="social-group">
      <label class="checkbox">
        <input type="checkbox" name="social" value="yes" onclick="$('#socialdiv').toggle('slideDown');"/>
        <strong>Sotsiaalne kasv</strong>
      </label>
      <p class="add-feedback-icon"><i class="icon-group"></i></p>
      <p>s.t. selle andmehulga avalikustamine võimaldab Teil või Teie organisatsioonil lihtsamini teostada teatud sotsiaalseid aktsioone, pakkuda ühiskonnagruppidele teatud sotsiaalseid teenuseid, või omab positiivset mõju keskkonnale.</p>

      <div id="socialdiv"  class="comment_block">
          <span class="help-block">Palun kirjeldage täpsemalt</span>
          <textarea name="social_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
    <div class="control-group"  id="effective-group">
      <label class="checkbox">
        <input type="checkbox" name="effective" value="yes" onclick="$('#effectivediv').toggle('slideDown');"/>
        <strong>Efektiivsed avalikud teenused</strong>
      </label>
      <p class="add-feedback-icon"><i class="icon-road"></i></p>
      <p>s.t. selle andmehulga avalikustamine võimaldab teatud avalikel teenustel toimida efektiivsemalt, pakkudes kodanikele suuremat läbipaistvust vüi rohkem valikuid.</p>

      <div id="effectivediv"  class="comment_block">
          <span class="help-block">Palun kirjeldage täpsemalt</span>
          <textarea name="effective_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
    <div class="control-group"  id="other-group">
      <label class="checkbox">
        <input type="checkbox" name="other" value="yes" onclick="$('#otherdiv').toggle('slideDown');"/>
        <strong>Muud kasulikud mõjud</strong>
      </label>
      <p class="add-feedback-icon"><i class="icon-quote-left"></i></p>
      <p>Lisage oma kommentaarid...</p>

      <div id="otherdiv"  class="comment_block" >
          <span class="help-block">Palun kirjeldage täpsemalt</span>
          <textarea name="other_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>2. Potentsiaalsed lingid teistele andmehulkadele</strong></div>
  <div class="panel-body">
    <div class="control-group"  id="linked-group">
      <p class="add-feedback-icon"><i class="icon-code-fork"></i></p>
      <p>Does this dataset contain data which could be used to link it to other datasets?</p>
      <p>Kas antud andmehulk sisaldab andmeid, mis võimaldab teda linkida teiste andmehulkadega?</p>

      <label class="radio">
        <input type="radio" name="linked" value="no" checked="checked"  onclick="$('#linkeddiv').slideUp();"/>
        Ei
      </label>
      <label class="radio">
        <input type="radio" name="linked" value="yes" onclick="$('#linkeddiv').slideDown();"/>
        Jah
      </label>
      <label class="radio">
        <input type="radio" name="linked" value="dontknow" onclick="$('#linkeddiv').slideUp();"/>
        Ei tea
      </label>

      <div id="linkeddiv"  class="comment_block" >
          <span class="help-block">Palun kirjeldage täpsemalt</span>
          <textarea name="linked_comment" rows="4" style="width:100%;"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>3. Informatsioon Teie kohta</strong></div>
  <div class="panel-body">
    <div class="control-group">
      <p>Kas Te vastate kui:</p>
      <label class="radio">
        <input type="radio" name="responding_as"  value="individual" checked="checked"  onclick="$('#orgdiv').slideUp();"/>
        Eraisik
      </label>
      <label class="radio">
        <input type="radio" name="responding_as"  value="organisation"  onclick="$('#orgdiv').slideDown();"/>
        Organisatsiooni esindaja
      </label>

      <div style="margin-left: 20px;"  class="control-group comment_block"  id="orgdiv">
          <label class="radio">
            <input type="radio" name="organisation" value="Central Government Dept" checked="checked"/>
            Valitsusasutus
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="Public Sector Org"/>
            Muu avaliku sektori organisatsioon
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="Startup"/>
            Idufirma
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="SME"/>
            Väike või keskmise suurusega ettevõte (vähem kui 250 töötajat)
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="Large org"/>
            Suurettevõte (250 või enam töötajat)
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="NFP"/>
            Mittetulunduslik organisatsioon
          </label>
          <label class="radio">
            <input type="radio" name="organisation" value="Academic"/>
            Akadeemiline -või teadusasutus
          </label>

          <label for="organisation_name">
            Organisatsiooni nimi
          </label>
          <py:with vars="publishers = sorted(c.userobj.get_groups(), key=lambda x:x.title)">
            <py:if test="len(publishers) > 0">
                <select name="organisation_name">
                    <option value=""></option>
                    <py:for each="group in publishers">
                      <option>${group.title}</option>
                    </py:for>
                </select>
            </py:if>
            <py:if test="len(publishers) == 0">
              <input name="organisation_name" type="text" placeholder="Organisation name" class='input-large'/>
            </py:if>
          </py:with>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>4. Võimalik kontakteerumine Teiega</strong></div>
  <div class="panel-body">
    <div class="control-group">
      <p>Me kasutame Teie kasutakontoga seotud e-maili aadressi.</p>
      <label class="radio">
        <input type="radio" name="contact" value="yes"/>
        Jah
      </label>
      <label class="radio">
        <input type="radio" name="contact" value="no"  checked="checked"/>
        Ei
      </label>
    </div>
  </div>
</div>

<div class="panel panel-danger errors" style="display:none;">
  <div class="panel-heading">Viga</div>
  <div class="panel-body">Vormil on vead, palun korrigeerige need enne salvestamist.</div>
</div>

<div class="form-actions">
  <button type="submit" class="btn btn-primary">Salvesta</button>
</div>

<script type="text/javascript">
  <!--
  $('.comment_block').hide()

  function validate_feedback() {
    var errors = false

    if ($('input[name=linked]:checked').val() == 'yes' && $("[name='linked_comment']").val() == "" ) {
      $("#linked-group").addClass('error')
      errors = true
    }

    if (errors) {
      $('.errors').show()
    }
    return errors == false
  }
  -->
</script>
</form>

